여러개 입력 처리

In [3]:
a = "red green blue"
a.split()

['red', 'green', 'blue']

In [5]:
b = "red, green, blue"
b.split(", ")

['red', 'green', 'blue']

In [7]:
string = input("write 3 primary colours of light seperated by blank")
string
r, g, b = string.split()
r, g, b

('red', 'green', 'blue')

In [9]:
numbers = ["3.1", "2.4", "8.5"]
print(map(float, numbers))
print(list(map(float, numbers)))

<map object at 0x7fd968b7c7c0>
[3.1, 2.4, 8.5]

In [13]:
string = '3.2 2.4 8.5'
print(list(map(float, string.split())))

[3.2, 2.4, 8.5]

In [15]:
string = input("write 3 any numbers seperated by blank")
string

'3.2 2.4 8.5'

In [23]:
x, y, z = [3, 4, 5.1]
x, y, z

(3, 4, 5.1)

In [24]:
x, y, z = list(map(float, input("write 3 any numbers seperated by blank").split()))
x, y, z

(3.0, 4.0, 5.1)

In [25]:
x, y, z = map(float, input("write 3 any numbers seperated by blank").split())
x, y, z

(3.0, 4.0, 5.1)

range - sequence 자료형

In [2]:
# 하나만 있으면 0에서부터 끝값 + 1
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
# 1 ~ 10
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# 1 ~ 10 odd number
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [5]:
# 1 ~ 10 even number
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [6]:
# 1 ~ 10 even number, descending
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

Q. 두개의 정수를 입력받아 첫번째 값부터 두번째 값까지 출력

In [35]:
x, y = map(int, input("Write 2 numbers").split())
if x < y:
    print(list(range(x , y + 1)))
elif x > y:
    print(list(range(y, x + 1)))
else : 
    x, y = map(int, input("Please write '2 different' numbers").split())
    if x < y:
        print(list(range(x , y + 1)))
    elif x > y:
        print(list(range(y, x + 1)))

Please write different numbers
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
a = input("Write numbers seperated by blank").split()
print(a[0:2])

['3', '2']