# Dictinary

1) 딕셔너리 만들기 (C)

In [1]:
lux = {"health": 490, "mana": 334, "melee": 550, "armor": 18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [3]:
lux1 = dict(health = 490, mana = 334, melee = 550, armor = 18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [4]:
lux2 = dict([("health", 490), ("mana", 334), ("melee", 550), ("armor", 18.72)])
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [6]:
list(zip([1, 2, 3], ["a", "b", "c"]))   # zip | 각 리스트에서 요소를 뽑아 튜플 리스트로 생성

[(1, 'a'), (2, 'b'), (3, 'c')]

In [9]:
key_list = ["health", "mana", "melee", "armor"]
value_list = [490, 334, 550, 18.72]
list(zip(key_list, value_list))

[('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)]

In [10]:
lux3 = dict(zip(key_list, value_list))
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

2) 딕셔너리 참조하기 (R)

In [11]:
lux["health"]

490

3) 딕셔너리 값 변경하기 (U)

In [12]:
lux["health"] = 600
lux

{'health': 600, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [13]:
lux["mana"] += 100
lux

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72}

In [14]:
lux["mana_regen"] = 3.28
lux

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

4) 딕셔너리 값 삭제하기 (D)

In [15]:
lux.pop("mana_regen")
lux

{'health': 600, 'mana': 434, 'melee': 550, 'armor': 18.72}

In [16]:
del lux["armor"]
lux

{'health': 600, 'mana': 434, 'melee': 550}

In [18]:
### 딕셔너리의 key & value 값들을 가져오기
print(lux2.keys())
print(lux2.values())

dict_keys(['health', 'mana', 'melee', 'armor'])
dict_values([490, 334, 550, 18.72])

5) 딕셔너리 반복문

In [19]:
lux.items()

dict_items([('health', 600), ('mana', 434), ('melee', 550)])

In [22]:
for key, value in lux.items() :
    print(key, value)

health 600
mana 434
melee 550

In [23]:
for key in lux.keys() :
    print(key, lux[key])

health 600
mana 434
melee 550

In [27]:
for key in lux.keys() :
    if key == "mana" :
        lux.pop(key)
lux

{'health': 600, 'melee': 550}

6) 딕셔너리 속 딕셔너리

In [3]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [4]:
terrestrial_planet["Earth"]

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [5]:
terrestrial_planet["Earth"]["orbital_period"]

365.25641